$anms-nature-primary: mat-palette($mat-light-green, A700);
$anms-nature-accent: mat-palette($mat-grey, 800);
$anms-nature-warn: mat-palette($mat-red, 600);

$anms-nature-theme: mat-light-theme(
  $anms-nature-primary,
  $anms-nature-accent,
  $anms-nature-warn
);
