@import '../../../styles-variables';

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

button {
  float: right;
}

button i {
  padding-bottom: 5px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;
  }

  mat-card-actions > .container {
    margin-top: 0px;
  }

}
